* {
box-sizing: border-box;
}

header, nav, main, footer {
font-weight: bold;
}

body {
background-color: #000000;
background-image: url(AngryNerdCafeBackground2.jpg);
background-repeat: repeat;
color: #FFFFFF;
text-shadow:
-2px -2px 0 #000,
2px -2px 0 #000,
-2px 2px 0 #000,
2px 2px 0 #000;
font-family: Verdana,Arial,sans-serif;
}

main {
position: relative;
bottom: 94px;
}

h1 {
padding-top: 50px;
padding-left: 2em;
color: #FFFFFF;
-webkit-text-stroke: .15em #000000;
}

nav {
color: #FFFFFF;
text-shadow:
-3px -3px 0 #000,
3px -3px 0 #000,
-3px 3px 0 #000,
3px 3px 0 #000;
padding: .3em;
background-position: right;
background-color: #3a4b6795;
border: 8px solid #000000;
border-bottom: 4px solid #000000;
border-radius: 8px;
transform: skewx(-25deg);
width: 75%;
margin-left: auto;
margin-right: auto;
position: relative;
left: 5%;
bottom: 94px;
max-height: 94px;
}

nav ul {
transform: skewx(25deg);
}

nav li {
display: inline;
}

nav a {
font-style: normal;
font-size: 2em;
padding: .5em;
}

a:link {
color:#FFFFFF;
}

a:hover {
color:#7593c4;
}

.container {
display: flex;
clear: both;
position: relative;
top: 94px;
}

.col_1 {
flex: 2;
line-height: 1.75em;
padding: 40px;
background-color: #3a4b6780;
border-left: 8px solid #000000;
border-right: 4px solid #000000;
border-top: 4px solid #000000;
border-bottom: 4px solid #000000;
border-radius: 8px;
position: relative;
bottom: 94px;
float: auto;
}

.col_1-single {
display: flex;
flex: 2;
flex-direction: column;
line-height: 1.75em;
padding: 40px;
background-color: #3a4b6780;
border-left: 8px solid #000000;
border-right: 8px solid #000000;
border-top: 4px solid #000000;
border-bottom: 4px solid #000000;
border-radius: 8px;
position: relative;
bottom: 94px;
flex-wrap: nowrap;  
}

.col_2 {
text-align: center;
flex: 1;
line-height: 1.75em;
background-color: #6a8cc063;
border-right: 8px solid #000000;
border-left: 4px solid #000000;
border-top: 4px solid #000000;
border-bottom: 4px solid #000000;
border-radius: 8px;
position: relative;
bottom: 94px;
padding: 0em 2em;
}

footer {
font-style: italic;
text-align: center;
padding: 1em;
background-color: #3a4b6795;
border: 8px solid #000000;
border-radius: 8px;
border-top: 4px solid #000000;
position: relative;
bottom: 94px;
clear: both;
}

a {
text-decoration: none;
color: #FFFFFF;
text-decoration: none;
}

a:hover {
color:#7593c4;
}

ul {
list-style-type: none;
}

#wrapper {
min-width: 1400px;
max-width: 1480px;
margin-right: auto;
margin-left: auto;
}

#current {
color: #7593c4;
}

header {
background-color :#9d343165;
background-image: url(angrynerdsheader.png);
background-position: left;
background-position-x: 40px;
background-position-y: 20px;
background-repeat: no-repeat;
border: 8px solid #000000;
border-bottom: 4px solid #000000;
border-radius: 8px;
height: 240px;
}

img {
display: block;
box-shadow: 10px 10px 10px #00000070;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin-bottom: 80px;
border: 4px solid #000000;
max-width: 100%;
height: auto;
}

#mobile {
display: none;
}

.social {
display: block;
float: left;
border: none;
box-shadow: none;
margin: 20px;
}

p {
text-indent: 30pt;
}

.clearleft {
clear: left;
}

table {
margin: auto;
border: 3px solid #000000;
width: 60%;
border-collapse: collapse;
}    

fieldset {
width: 30%;
}

tr, td {
width: 50%;
text-align: center;
border: 1px solid #000000;
}

caption {
font-size: 2em;
padding: 20px;
}

.menuheader {
clear: left;
margin-left: 7%;
}

#desktop {
display: inline;
}

@media only screen and (max-width: 1400px) {
#wrapper {
min-width: 1024px;
max-width: 1200px;
margin-right: auto;
margin-left: auto;
}

header {
background-size: 80%; 
}

nav {
margin-left: 7em;
min-height: 94px;
}

nav a {
font-size: 1.6em;
text-shadow:
-2px -2px 0 #000,
2px -2px 0 #000,
-2px 2px 0 #000,
2px 2px 0 #000;
padding: .2em;
}
}

@media only screen and (max-width: 1060px) {
#wrapper {
min-width: 400px;
max-width: 800px;
margin-right: auto;
margin-left: auto;
}

nav { 
margin-left: 0em;
margin-right: 0em;
transform: skewx(0deg);
padding: 0;
position: relative;
left: 0;
width: 100%;
min-height: 94px;
}

.col_1 {
border-right: 8px solid #000000;
}

nav ul {
display: flex;
flex-flow: row wrap;
align-items: center;
transform: skewx(0deg);
margin: 0;
padding: 0;
}
    
header {
height: 200px;
}

nav li {
list-style: none;
flex-grow: 1;
text-align: center;
}

nav a {
display: block;
font-size: 1.2em;
margin: 5px;
}
}

@media only screen and (max-width: 768px) {
.container {
flex-direction: column;
}

table {
width: 100%;
}

.menuheader {
clear: left;
margin-left: 3%;
}
  
#mobile {
display: inline;
text-decoration: none;
}

#desktop {
display: none;
}
}